
.header {
   color: rgba(32, 126, 152, 0.775);
   text-align: center;
   font-family:'Courier New', Courier, monospace;
   font-size: 44px;
}

body {
   font-family: 'consolas';
   margin: 47px;
}

input {
    font-family: 'consolas';
    padding: 5px;
    font-size: 30px;
}

button {
   font-family: 'consolas';
   border: 1px solid black;
   padding: 5px;
   font-size: 30px;
}
button:hover {
   cursor: pointer;
   background-color: #87ceeb;
}

